body {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #666666;
	margin: 0px;
	padding: 20px 10px 0px;
	background:#006400 url(images/base-bg.gif) repeat-x top;
}
.textfield {
	font-size: 11px;
	color: #333333;
	background: #006400;
	border: 1px solid #006400;
	padding-left: 1px;
}
.bottom_addr {
font-size: 11px;
color: #000;
padding: 5px 0 12px 0; 
text-align:center; 
font-size:10px;
}
h1 {
	color: #bd6f2f;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed red;
	text-align:center;
}
h3{
	color:red;
	}
a {
	color: #006400;
	font-size: 11px;
}
a:hover {
	color: #006400;
}
.err {
	color: #006400;
}
.news {
	color:#006400;
	font-size: 22px;
}
th {
	font-weight: bold;
	text-align: left;
}
#page{
width:1000px;
margin:0 auto; 
margin-top:50px;
padding-top:0px;
background: #006400;
height:auto;
}

#header{
text-align:center;
background:#006400;
}

#header{
	font-size:20px;
}
#container{
border:#006400 solid 1px;
padding:4px 6px 2px 6px;
width:970px; 
margin:0 auto; 
background:#006400;  
font-size:12px; 
text-align:justify;
margin-top:20px;
}
#footer{
width:1000px; 
margin:0 auto; 
margin-top:20px;
background:#006400;
}
